services:
  backend:
    build: ./api
    ports:
      - "${BACKEND_PORT}:5000"
    env_file:
      - ./api/.env 
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=${BACKEND_PORT}

  frontend:
    build: ./app
    ports:
      - "${FRONTEND_PORT}:5173"
    env_file:
      - ./app/.env
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    tty: true
    stdin_open: true
    depends_on:
      - backend