version: '3.8'

services:
  backend:
    build: ./api
    ports:
      - "5000:5000"
    env_file:
      - ./api/.env 
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development

  frontend:
    build: ./app
    ports:
      - "5173:5173"
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    tty: true
    stdin_open: true
    depends_on:
      - backend